{% extends 'EscuelaCommonsBundle:Base:list-base.html.twig' %}
{% set page_title="Registro de Alumnos" %}
{# New create path to be shown outside this template #}
{% set new_path= path('student_new') %}

{# New search path to be shown outside this template #}
{% set search = path('student_search') %}

{# New create path to be shown outside this template #}
{#% set deletes_path= path('student_deletes') %#}

{% set list_path= path('student_list') %}

{% trans_default_domain "lists" %}

{# Add and delete selected actions for entity rol #}
{% block entity_add_del %}
{#% if is_granted('CREATE',service) %#}
	<a class="btn btn-default btn-sm" href="{{ new_path }}"><i class="fa fa-plus"></i> {{ "list.button.add"|trans }}</a>
{#% endif %#}
{#% if is_granted('DELETE',service) %#}
 {{ form_widget(list_form.deleteall_btn, { 'label': 'list.button.delete'|trans, 'attr': {'class': 'btn btn-default btn-sm'}}) }}
{% endblock %}

{# Fieldnames #}
{% block entity_fieldnames %}
	<tr>
		<td></td>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Cédula</th>
		<th>Actions</th>
	</tr>
{% endblock %}

{# Field content #}
{% block entity_fields %}
        {% for entity in entities %}
            <tr>
               <td><input name="listelem[]" id="listelem" type="checkbox" value="{{ entity.id }}" /></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.identification }}</td>
                <td width="20%">
                <ul id="action-list">
                	<li><a href="{{ path('student_show', { 'id': entity.id }) }}" title="{{ "list.tooltip.detail"|trans }}"><i class="fa fa-eye fa-3 fa-lg"></i></a></li>
                    <li><a href="{{ path('student_edit', { 'id': entity.id }) }}" title="{{ "list.tooltip.edit"|trans }}"><i class="fa fa-pencil-square-o fa-lg"></i></a></li>
                    <li><a href="{{ path('student_delete', { 'id': entity.id, 'page': current_page }) }}" title="{{ "list.tooltip.delete"|trans }}"><i class="fa fa-times fa-lg"></i></a></li>					
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <tr ><td colspan=5>
    {{ knp_pagination_render(entities) }}
 </td><tr> 
{% endblock %}

