{% trans_default_domain "modal_list" %}

<!-- Modal alert-->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{"modal.listbase.warning.title"|trans}}</h4>
      </div>
      <div class="modal-body">
       		{{"modal_description_checkboxes"|trans}}
      </div>
      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{{"modal_close_button"|trans}}</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal confirm multiple deletion-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{"modal_title_confirm"|trans}}</h4>
      </div>
      <div class="modal-body">
       	{{"modal_description_yousure"|trans}}
      </div>
      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{{"modal_close_button"|trans}}</button>
	        <button id="btn-confirm" type="button" class="btn btn-primary">{{"modal_confirm_button"|trans}}</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal confirm single deletion-->
<div class="modal fade" id="confirmModalSingle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{"modal_title_confirm"|trans}}</h4>
      </div>
      <div class="modal-body">
       	{{"modal_description_yousure_single"|trans}}
      </div>
      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{{"modal_close_button"|trans}}</button>
	        <button id="btn-confirm" type="button" class="btn btn-primary">{{"modal_confirm_button"|trans}}</button>
      </div>
    </div>
  </div>
</div>