{% extends 'EscuelaCommonsBundle:Base:show-base.html.twig' %}

{# Page title and heading  #}
{% set page_title="Detalles del empleado" %}

{% block entity_details %}
<div class="row">
	<div class="col-sm-4"><strong>Nombres:</strong></div>
	<div class="col-sm-6">{{ entity.name }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Apellidos:</strong></div>
	<div class="col-sm-6">{{ entity.lastname }}</div>
</div>

<div class="row">
	<div class="col-sm-4"><strong>Cédula:</strong></div>
	<div class="col-sm-6">{{ entity.identification }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Sexo:</strong></div>
	<div class="col-sm-6">{{ entity.gender }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Tipo de empleado:</strong></div>
	<div class="col-sm-6">{{ entity.employeeType.name }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Grado asignado:</strong></div>
	<div class="col-sm-6">{{ entity.grade.name }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Es director:</strong></div>
	<div class="col-sm-6">{% if entity.director %} {{ " Sí" }} {% else %} {{ "No" }} {% endif %}</div>
</div>



{% endblock %}

{# Edit button url #}
{% if (is_granted('EDIT',service))%}
	{% set edit_url= path('employee_edit', { 'id': entity.id }) %}
{% endif %}

{# Back button url #}
{% if (is_granted('VIEW',service)) %}
	{% set back_url = path('employee_list') %}
{% else %}
	{% set back_url = path('_usermanager_root') %}
{% endif %}


