{% extends 'EscuelaCommonsBundle:Base:show-base.html.twig' %}

{# Page title and heading  #}
{% set page_title="Detalles del Padre ó Madre" %}

{% block entity_details %}
<div class="row">
	<div class="col-sm-4"><strong>Nombres:</strong></div>
	<div class="col-sm-6">{{ entity.name }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Apellidos:</strong></div>
	<div class="col-sm-6">{{ entity.lastname }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Nacionalidad:</strong></div>
	<div class="col-sm-6">{{ entity.nationality }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Cédula:</strong></div>
	<div class="col-sm-6">{{ entity.identification }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Sexo:</strong></div>
	<div class="col-sm-6">{{ entity.gender }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Fecha de nacimiento:</strong></div>
	<div class="col-sm-6">{{ entity.birthdate|date('d-m-Y') }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Dirección:</strong></div>
	<div class="col-sm-6">{{ entity.address }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Telefono:</strong></div>
	<div class="col-sm-6">{{ entity.telephone }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Profesión:</strong></div>
	<div class="col-sm-6">{{ entity.profession}}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Dirección de trabajo:</strong></div>
	<div class="col-sm-6">{{ entity.addressWork }}</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Alfabeta:</strong></div>
	<div class="col-sm-6">{% if entity.alphabet%} 
								{{ "Sí " }}  
							{% else %}	
							{{ "No " }}
						{% endif %}
	</div>		
</div>
</div>
<div class="row">
	<div class="col-sm-4"><strong>Representante:</strong></div>
	<div class="col-sm-6"><div>{% if entity.representant%} 
								{{ "Sí " }}  
							{% else %}	
							{{ "No " }}
						{% endif %}</div>
</div>
</div>


{% endblock %}

{# Edit button url #}
{% if (is_granted('EDIT',service))%}
	{% set edit_url= path('parents_edit', { 'id': entity.id }) %}
{% endif %}

{# Back button url #}
{% if (is_granted('VIEW',service)) %}
	{% set back_url = path('parents_list') %}
{% else %}
	{% set back_url = path('_usermanager_root') %}
{% endif %}

