{% extends 'EscuelaCommonsBundle:Base:layout-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('bundles/commons/css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{# Page title and heading  #}
{% trans_default_domain "messages" %}
{% set page_title="form.recover.reset.title" %}

{% block content %} {% trans_default_domain "forms" %}
<div class="container">
	<div class="form-box">
		<form action="{{ path("user_setpassword") }}" class="form-signin" method="post" id="login"> 
			<h2 class="form-signin-heading title">{{ page_title|trans({},"messages") }}</h2>
			<hr>
			
			{% set i=0 %}
					{% if form_errors(form) %}
			            <div class="alert alert-danger form-validate-small">
			                <small>{{ form_errors(form) }}</small>
			            </div>
			        {%  endif %}
			{% for passwordField in form.password %}		
			<div class="form-group">
			    {% set i=i+1 %}
				{% if i==1 %}
					{% set label='form.user.password'|trans %}
					
				{% else %}
					{% set label='form.user.confirm'|trans %}
				{% endif %} 
			    {#{ form_label(passwordField, label) }#}
			    
			    	{% if form_errors(passwordField) %}
			            <div class="alert alert-danger form-validate-small">
			                <small>{{ form_errors(passwordField) }}</small>
			            </div>
			        {%  endif %}
			        {{ form_widget(passwordField, { 'attr': {'class': 'form-control','placeholder':label} }) }}
			   
			{# {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }} #}
			</div>
			{% endfor %}
			
			<div class="form-group">{% trans_default_domain "messages" %}
			<div class="col-sm-6"><button class="form-control btn btn-primary" type="submit">{{ "form.recover.button.acept"|trans }}</button></div>
			<div class="col-sm-6"><a href="{{ path('recover_cancel') }}" class="form-control btn btn-default" role="button" >{{ "form.recover.button.cancel"|trans }}</a></div>
			</div>
			<div class="hidden">{{ form_rest(form) }}</div>
		</form>
	</div>	
</div>
{% endblock %}